[submodule "Extra/Unsealer/sdk/detours"]
	path = Extra/Unsealer/sdk/inc/detours
	url = https://github.com/microsoft/detours
[submodule "Extra/Unsealer/sdk/json"]
	path = Extra/Unsealer/sdk/inc/json
	url = https://github.com/nlohmann/json
[submodule "Extra/Unsealer/sdk/fmod"]
	path = Extra/Unsealer/sdk/inc/fmod
	url = https://github.com/fmod/fmod-for-unreal/
[submodule "Extra/Unsealer/sdk/inc/fkYAML"]
	path = Extra/Unsealer/sdk/inc/fkYAML
	url = https://github.com/fktn-k/fkYAML
[submodule "Extra/Unsealer/sdk/inc/rapidyaml"]
	path = Extra/Unsealer/sdk/inc/rapidyaml
	url = https://github.com/biojppm/rapidyaml
