[submodule "Extra/Unsealer/sdk/detours"]
	path = Extra/Unsealer/deps/include/detours
	url = https://github.com/microsoft/detours
[submodule "Extra/Unsealer/sdk/json"]
	path = Extra/Unsealer/deps/include/json
	url = https://github.com/nlohmann/json
[submodule "Extra/Unsealer/sdk/fmod"]
	path = Extra/Unsealer/deps/include/fmod
	url = https://github.com/fmod/fmod-for-unreal/
[submodule "Extra/Unsealer/deps/include/fkYAML"]
	path = Extra/Unsealer/deps/include/fkYAML
	url = https://github.com/fktn-k/fkYAML
[submodule "Extra/Unsealer/deps/include/rapidyaml"]
	path = Extra/Unsealer/deps/include/rapidyaml
	url = https://github.com/biojppm/rapidyaml
